.login-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("/public/imagem_background.jpg") no-repeat center center/cover;
    font-family: 'Montserrat', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 72, 192, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

.login-container {
    width: 300px;
}

.login-container .form-control {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 700;
}

.login-container .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
}

.login-container .form-control:focus {
    outline: none;
    box-shadow: none;
    color: white;
}

.login-container a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.input-icon {
    position: relative;
}

.input-icon .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
}

.input-icon .form-control {
    padding-left: 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 700;
}

.input-icon .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
}

.input-icon .form-control:focus {
    outline: none;
    box-shadow: none;
    color: white;
}

.btn-login {
    background-color: white;
    color: #2148C0;
    font-weight: 700;
    margin-top: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.login-logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo-image {
    width: 300px;
    height: auto;
}


